.Banner__book-appointment-header-one {
  color: $black;
  font-weight: 400;
  font-size: 3.4rem;
  text-align: center;
}

.Banner__book-appointment-header-three {
  color: $black;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

.Banner__book-appointment-paragraph {
  color: $black;
  font-size: 1.2rem;
  text-align: center;
}

/* this selector selects all divs inside of .flex-container */
.Banner__flex-container {
  display: flex;
  background: $persona-blue;
  box-sizing: border-box;
  align-items: center;
}
