body {
  font-family: HCo Gotham Rounded SSm, Arial, Helvetica, sans-serif;
}

.persona-header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  cursor: pointer;
}